version: '3.9'

services:

  namenode:
    build:
      context: ./
      target: namenode
    ports:
      - 9870:9870
      - 9871:9871
    volumes:
      - namenode:/hadoop/dfs/name

  datanode:
    build:
      context: ./
      target: datanode
    ports:
      - 9864:9864
      - 9865:9865
      - 9866:9866
      - 9867:9867
    depends_on:
      - namenode
    volumes:
      - datanode:/hadoop/dfs/data

volumes:
  namenode:
  datanode:
